*.suo
*.sdf
*.exe
*.pdb
*.user
*.sln.docstates

Debug/
Debug/*
Release/
Release/*
OpenGLDemos.VC.db
ipch/
ipch/*
.vs/
.vs/*
OpenGLDemos/Debug/
OpenGLDemos/Debug/*.*
OpenGLDemos/Debug/OpenGLDemos.tlog/
OpenGLDemos/Debug/OpenGLDemos.tlog/*.*
OpenGLDemos/Release/
OpenGLDemos/Release/*.*
OpenGLDemos/Release/OpenGLDemos.tlog/
OpenGLDemos/Release/OpenGLDemos.tlog/*.*
OpenGLDemos/x64/
OpenGLDemos/x64/*.*
OpenGLDemos/x64/Debug/
OpenGLDemos/x64/Debug/*.*
OpenGLDemos/x64/Debug/OpenGLDemos.tlog/
OpenGLDemos/x64/Debug/OpenGLDemos.tlog/*.*
OpenGLDemos/x64/Release/
OpenGLDemos/x64/Release/*.*
OpenGLDemos/x64/Release/OpenGLDemos.tlog/
OpenGLDemos/x64/Release/OpenGLDemos.tlog/*.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
*.idb
*.iobj
*.ipdb

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Windows image file caches
Thumbs.db
ehthumbs.db